



.general_1{
	border: 5px solid darkred;
	width: 100%;
	box-sizing: border-box;
	background: url(images/zvartnots.jpg);
	background-size: cover;
	text-align: cover;
}

.g_1_cover_div{
	border: 5px solid darkred;
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	background: linear-gradient(to bottom, rgba(205, 225, 255, 0.9), rgba(255, 255, 255, 0.2));

}




.g_1_head_h_1{
	font-size: 80px;
	font-family: serif cursive;
}


.g_1_head_h_2{
	font-size: 60px;
	font-family: serif cursive;
}


.g_1_head_h_3{
	font-size: 40px;
	font-family: serif cursive;
	font-weight: 600;
	color: mediumvioletred;
}



.general_2{
	border: 5px solid darkred;
	width: 100%;
	height: 700px;
	box-sizing: border-box;
	display: flex;
	gap: 10px;
}


.parent_1{
	border: 5px solid blue;
	width: 30%;
	height: 100%;
	box-sizing: border-box;
}


.g_2_head_h_3{
	font-size: 40px;
	font-family: serif cursive;
}



.g_2_head_h4{
	font-size: 30px;
	font-family: serif cursive;
}




.parent_2{
	border: 5px solid blue;
	width: 70%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
}



.child_1{
	border: 3px dotted blue;
	width: 290px;
	height: 250px;
	box-sizing: border-box;
	background: gray;
	position: absolute;
}










